[client]
port            		= 5001
socket          		= /data/database/mysqld.sock
pid-file            		= /data/database/mysqld.pid
default-character-set 		= utf8

[mysqld]
init_connect			= 'SET collation_connection = utf8_unicode_ci'
init_connect			= 'SET NAMES utf8'
character-set-server		= utf8
collation-server		= utf8_unicode_ci
skip-character-set-client-handshake

user				= mysql
group				= mysql
port            		= 5001
socket          		= /data/database/mysqld.sock
pid-file            		= /data/database/mysqld.pid
key_buffer_size 		= 512M
max_allowed_packet 		= 128M
table_open_cache 		= 1024
sort_buffer_size 		= 64M
net_buffer_length 		= 4M
read_buffer_size 		= 64M
read_rnd_buffer_size 	= 4M
myisam_sort_buffer_size = 128M
binlog_format			= mixed
max_connections			= 1000
thread_cache_size 		= 8
query_cache_size		= 16M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency 		= 8
query_cache_size 		= 64M
query_cache_type 		= 1
#lower_case_table_names = 1
max_connect_errors 		= 100000
interactive_timeout 		= 172800
wait_timeout  			= 172800
sql-mode			= "NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
lower_case_table_names          = 1 # MB jira need it!!!

skip-name-resolve
skip-external-locking

# slave set read only
#read_only 			= 1
server-id 			= 1
log-error                       = error
log-bin                         = mysql-bin
relay-log                       = relay
binlog-do-db                    = esn_announce
replicate-do-db                 = esn_announce
binlog-do-db                    = esn_api
replicate-do-db                 = esn_api
binlog-do-db                    = esn_approval
replicate-do-db                 = esn_approval
binlog-do-db                    = esn_base
replicate-do-db                 = esn_base
binlog-do-db                    = esn_blog
replicate-do-db                 = esn_blog
binlog-do-db                    = esn_calendar
replicate-do-db                 = esn_calendar
binlog-do-db                    = esn_email
replicate-do-db                 = esn_email
binlog-do-db                    = esn_file
replicate-do-db                 = esn_file
binlog-do-db                    = esn_im
replicate-do-db                 = esn_im
binlog-do-db                    = esn_message
replicate-do-db                 = esn_message
binlog-do-db                    = esn_plugins
replicate-do-db                 = esn_plugins
binlog-do-db                    = esn_schedule
replicate-do-db                 = esn_schedule
binlog-do-db                    = esn_task
replicate-do-db                 = esn_task
binlog-do-db                    = esn_toutiao
replicate-do-db                 = esn_toutiao
binlog-do-db                    = esn_scrm
replicate-do-db                 = esn_scrm
binlog-do-db                    = esn_scrm_dict
replicate-do-db                 = esn_scrm_dict
binlog-do-db                    = esn_scrm_demo
replicate-do-db                 = esn_scrm_demo
binlog-do-db                    = esn_wallet
replicate-do-db                 = esn_wallet
binlog-do-db                    = ucenter 
replicate-do-db                 = ucenter
binlog-ignore-db		= mysql
binlog-ignore-db		= information_schema
binlog-ignore-db		= performance_schema
replicate-ignore-db		= mysql
replicate-ignore-db		= information_schema
replicate-ignore-db		= performance_schema
log-slave-updates
slave-skip-errors		= all
sync_binlog=1
#auto_increment_increment=2
#auto_increment_offset=1

innodb_data_home_dir 			= /data/database
innodb_data_file_path 			= ibdata1:300M:autoextend
innodb_log_group_home_dir 		= /data/database
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size 		= 128M
innodb_additional_mem_pool_size = 20M
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size 			= 64M
innodb_log_buffer_size 			= 8M
innodb_flush_log_at_trx_commit 	= 2
innodb_lock_wait_timeout 		= 50

slow_query_log 				= on
slow_query_log_file 			= /data/log/mysql/slow.log
long_query_time				= 2

[mysqldump]
quick
max_allowed_packet 		= 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size 		= 128M
sort_buffer_size 		= 128M
read_buffer 			= 2M
write_buffer 			= 2M

[mysqlhotcopy]
interactive-timeout

